
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.center{
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
}

.top{
    background-image: url(img/bacround-top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.top-content{
    padding-top: 217px;
    padding-bottom: 493px;
}

.top-content__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    padding-bottom: 32px;
}

.top-content__slogan{
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 44px;
}

.slogan-bold{
    font-weight: 500;
}

.top-content__button{
    background: #9C0332;
    border-radius: 30px;
    box-sizing: border-box;
    width: 234px;
    height: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    box-sizing: border-box;
    transition: all 500ms ease;
    border: 3px solid #9C0332;
}
.top-content__button:hover{
    border: 3px dotted #3a7999;
	color: #3a7999;
	background: rgba(0,0,0,0);
    } 

.nav-box{
    background-color: #000915;
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    gap: 32px;
}

.nav-box__game{
    width: 379px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
}

.nav-box__game:hover{
    transform: scale(1.05);
    box-shadow: #888888;
}

.nav-box__game_1{
    background-image: url(img/game1.jpg);
    background-repeat: no-repeat;
}
.nav-box__game_2{
    background-image: url(img/game2.jpg);
    background-repeat: no-repeat;
}
.nav-box__game_3{
    background-image: url(img/game3.jpg);
    background-repeat: no-repeat;
}

.nav-box__game_link{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 32px;
    padding-bottom: 32px;
}

/* mobile */

@media (max-width: 767px) {
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }

    .top-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-content__title{
        font-size: 32px;
        line-height: 39px;
        text-align: center;
    }

    .top-content__slogan{
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 32px;
        text-align: center;
    }

    .nav-box{
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .nav-box__game{
        width: 343px;
    }
}